// STYLE POUR NOTRE INTERFACE
.portfolio{
  display: flex;
  flex-wrap: wrap;
}

.project{
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 10px);

  margin: convertRem(5);
  border: convertRem(1) dashed $accent;
  padding: convertRem(10);
}

.project h2, .project p{
  order: 2;
  margin: 0;
}

.project img{
  order: 1;
  margin-bottom: convertRem(15);
}

.project-red{
   color: $red;
}

.project-yellow{
  color: $yellow;
}

.project-teal{
  color: $teal;
}

.project-blue{
  color: $blue;
}

@media only screen and (max-width: $vw-medium) {
  .project{
    width: calc(50% - 10px);
  }
}

@media only screen and (max-width: $vw-small) {
  .project{
    width: 100%;
    margin: convertRem(10) 0;
  }
}