// LES STYLES DE BASE DES BALISES <h>
h1, h2, h3, h4, h5, h6{
  font-family: $saira;
  line-height: 1;
  font-weight: $fw-bold;
}

h1{
  font-size: convertRem(60);
}

h2{
  text-transform: capitalize;
}

h2, h3{
  font-size: convertRem(24);
}

h4{
  font-size: convertRem(22);
}

h5{
  font-size: convertRem(20);
}

h6{
  font-size: convertRem(16);
}