//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$white: #fff;
$black: #303044;

//Couleur projet spécifique
$teal: rgba(1, 22, 39, 1);
$blue: rgba(46, 196, 182, 1);
$red: rgba(231, 29, 54, 1);
$yellow: rgba(255, 159, 28, 1);


// Couleur de projet
$background: $white;
$accent: $black;
$colorFont: darken($black, 15);

$redBackground: lighten($red, 45);
$redBorder: darken($red, 10);

$yellowBackground: lighten($red, 40);
$yellowBorder: darken($red, 10);

$tealBackground: lighten($red, 45);
$tealBorder: darken($red, 10);

$blueBackground: lighten($red, 90);
$blueBorder: darken($red, 10);

