//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fontSize: convertRem(16);
$lineHeight: convertRem(24);

/// Font family
$saira: SairaExtraCondensed;
$openSans: 	OpenSansCondensed;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
