//FONCTION POUR CALCUL DES REMS
@function convertRem($pTaille){
    @return $pTaille/16 + rem;
}
//MIXIN POUR AJOUTER UNE FONT
@mixin font($family, $size:'inehrit'){
  font-family: $family;
  font-size: convertRem($size);
}